{% extends 'master/base.html' %}

{% block bodyContent %}

    <h1 class="py-3">Transactions</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <h3 class="text-center">Cash Added</h3>
            </tr>
            <tr>
                <th>SL</th>
                <th>Amount ($)</th>
                <th>Source</th>
                <th>Description</th>
                <th>Date Added</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>

            {% for each_cash_history in cash_history_data %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{each_cash_history.amount}}</td>
                    <td>{{each_cash_history.source}}</td>
                    <td>{{each_cash_history.description}}</td>
                    <td>{{each_cash_history.datetime | date:'Y-m-d'}}</td>
                    <td>
                        <a href="{% url 'deleteAddCash' each_cash_history.id %}" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            {% endfor %}

        </tbody>
    </table>

    <table class="table table-striped">
        <thead>
            <tr>
                <h3 class="text-center">Expenses</h3>
            </tr>
            <tr>
                <th>SL</th>
                <th>Amount ($)</th>
                <th>Description</th>
                <th>Date Added</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>

            {% for each_expense_history in expense_history_data %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{each_expense_history.amount}}</td>
                    <td>{{each_expense_history.description}}</td>
                    <td>{{each_expense_history.datetime | date:'Y-m-d'}}</td>
                    <td>
                        <a href="{% url 'deleteExpense' each_expense_history.id %}" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            {% endfor %}

        </tbody>
    </table>

{% endblock bodyContent %}